/* Gabriel task: 
- Adicionar os icons para adicionar, deletar e editar
-ler sobre Flex-box e me dizer oq entendeu
- Organizer o CSS 
*/
body {
  font-family: "Lora", serif;
  background-color: #fefefe;
  background-image: linear-gradient(#fc6c48 0%, #ef5081 100%);
}
.parentContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
}
.parentContainer__position {
  border: 1px solid rgb(255, 255, 255, 0.05);
  border-radius: 10px;
  width: 27vw;
  min-height: 62vh;
  max-height: 100vh;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: rgb(247, 247, 247);
  /* overflow-y: scroll;
  overflow-y: thin; */
}
.mainContainer {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}
.inputField {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 20vw;
  font-size: 18px;
  background-color: rgb(247, 247, 247);
}
#inputField:focus {
  outline: none;
}
.titleContainer {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

#addButtonContainer {
  display: inline-block;
}

#toDoListParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0 5px 5px 5px;
}
#spanContainer {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  min-width: 95%;
  border: 0.5px solid rgba(159, 159, 159, 0.688);
  background: #f3f6fb;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
#spanMainEl {
  display: flex;
  flex-direction: row;
}

#spanForButton {
  display: flex;
  flex-direction: row;
}
#editButton {
  padding-right: 10px;
}
.fas:hover {
  cursor: pointer;
  font-size: 19px;
}
.far {
  font-size: 19px;
}
.far:hover {
  cursor: pointer;
  font-size: 22px;
}
input[type="checkbox"] {
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
}

input[type="checkbox"]:checked {
  color: #888;
}
